/*-- scss:rules --*/

img.incipit-main {
  max-width: 100%;
}

img.incipit-full {
  margin-top: .8rem;
  max-width: 100%;
}

h3 {
  margin-top: 2rem;
}

.title-page-contents {
  margin-left: 2rem;
}

.other-title {
  font-weight: 400;
  font-size: 1rem;
}

table.movement-details {
  border: 0;
  font-size: 1em;
}

table.movement-details td {
  border: 0;
  padding: 0;
  vertical-align: top;
}

table.movement-details th {
  padding: .5rem 0 .25rem 0;
}

table.section-details {
  border: 0;
  font-size: 1em;
}

table.section-details td {
  border: 0;
  padding: 4px;
}

table.incipits {
  border: 0;
  font-size: 1em;
}

table.incipits td {
  border: 0;
  padding: .8rem 4px .8rem 4px;
  vertical-align: middle;
}

h5 {
  opacity: 1;
  margin: 0;
  font-weight: 700;
  font-size: .9rem;
  line-height: var(--bs-body-line-height);
}

section.level5 p {
  margin-bottom: .5rem;
}
