/*-- scss:rules --*/

.incipit {
  margin-top: 10px;
  max-width: 100%;
}

h3 {
  margin-top: 2rem;
}

.title-page-contents {
  margin-left: 20px;
}

table.movement-details {
  border: 0;
  font-size: 1em;
}

table.movement-details td {
  border: 0;
  padding: 0;
  vertical-align: top;
}

table.section-details {
  border: 0;
  font-size: 1em;
}

table.section-details td {
  border: 0;
  padding: 4px;
}
